<h1>Projection</h1>

<h2 class="mt-5">Simple</h2>

<app-simple title="Test simple titre"> This is the content </app-simple>

<h2 class="mt-5">Multiple</h2>
<app-multiple>
  <header>Header title</header>

  <div body>
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

  <footer>
    <button type="button" class="btn btn-primary">Footer button</button>
  </footer>
</app-multiple>

<h2 class="mt-5">Dynamic</h2>
<!-- <app-dynamic [names]="['Tab 1', 'Tab 2', 'Tab 3']">
  <ng-template appTab>Content for the 1st tab</ng-template>
  <ng-template appTab>Content for the 2nd tab</ng-template>
  <ng-template appTab>Content for the 3rd tab</ng-template>
</app-dynamic> -->

<!-- <app-dynamic>
  <ng-template appTab name="Tab 1">Content for the 1st tab</ng-template>
  <ng-template appTab name="Tab 2">Content for the 2nd tab</ng-template>
  <ng-template appTab name="Tab 3">Content for the 3rd tab</ng-template>
</app-dynamic> -->

<app-dynamic>
  <div *appTab="'Tab 1'">Content for the 1st tab</div>
  <div *appTab="'Tab 2'">Content for the 2nd tab</div>
  <div *appTab="'Tab 3'">Content for the 3rd tab</div>
</app-dynamic>
