<h1>Projection</h1>

<h2 class="mt-5">Simple</h2>

<app-simple title="Test simple titre"> This is the content </app-simple>

<h2 class="mt-5">Multiple</h2>
<app-multiple>
  <header>Header title</header>

  <div body>
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

  <footer>
    <button type="button" class="btn btn-primary">Footer button</button>
  </footer>
</app-multiple>
