<p>parent method 2 works!</p>
<ng-container #viewcontainer></ng-container>
<ng-template #t>
  <app-dom-structure-1-child #child></app-dom-structure-1-child>
</ng-template>

<span #simpleRef>hey simple ref</span>

<div *ngIf="checker()">yeah</div>

<div *ngIf="checked">yo</div>

<button (click)="removeChild()">remove child</button>

<h3 class="mt-5">list</h3>
<ul #myList></ul>

<ng-template #listItemTpl>
  <li *ngFor="let item of listItems">{{ item }}</li>
  <li>1</li>
  <li>2</li>
</ng-template>
