<ng-template #itemTpl let-item let-index>
  <div class="card">
    <div class="card-header">Featured</div>
    <div class="card-body">
      <h5 class="card-title">{{ item.titre }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <button
        class="btn btn-primary"
        (click)="addTemplate(index)"
        appAddContent
        [template]="dynamic"
      >
        <!--         [vcr]="vcr" -->
        Go somewhere
      </button>
      <ng-template #dynamic></ng-template>
    </div>
  </div>
</ng-template>

<ng-template #child>
  <div>ouch</div>
</ng-template>
