.cards-container {
    display: grid;
    // display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: .5em;
    grid-column-gap: 1em;

    .card {
        .card-img-container {
            img {
                max-width: 100%;
                    // border-radius: .5rem;
            }    
        }
        .card-title {
            font-size: .75rem
        }
        .card-text {
            font-size: .625rem
        }
    }

    .grid-img-container {
        overflow: hidden; 
        min-width: 0;
    }

}

.grid-row {
}



.img-container {        
    background: blue;
    position: relative;
    flex: 1 1 0;
}

.img-container > img{
    height:250px;
    object-fit: cover;
    width: 100%;
}

.card-title {
    white-space: normal;
    word-wrap:break-word;
}

.card-text {
    // font-size: 0.8vw;
}
